<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cwaliimran.fastestqrcodescanner">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".utils.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity android:name="com.cwaliimran.fastestqrcodescanner.ui.MainActivity"  android:hardwareAccelerated="true" />
        <activity android:name="com.cwaliimran.fastestqrcodescanner.ui.ScanQRCodeActivity"  android:hardwareAccelerated="true"/>
        <activity android:name="com.cwaliimran.fastestqrcodescanner.ui.QRCodeResultActivity"  android:hardwareAccelerated="true"/>
        <activity
            android:name="com.cwaliimran.fastestqrcodescanner.ui.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->
<!--        live id : ca-app-pub-7053088796893953~9536129655-->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7053088796893953~9536129655"/>
    </application>

</manifest>